.hero{
  height: calc(100vh - 100px);
  background: linear-gradient(180deg ,#0c0c1d , #111132);

  .wrapper{
    max-width: 1100px;
    height: 100%;
    margin: auto;
  }

  .textContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    h2{
      font-style: 30px;
      color: rebeccapurple;
      letter-spacing:8px;
    }

    h1{
      font-size: 85px;
    }

    .buttons{
      button{
        padding: 20px;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        margin-right: 20px;
        font-weight: 900;
        font-size: medium;
        cursor: pointer;
      }
    }
    img{
      width: 50px;
    }
  }


  .imageContainer{
    height: 100%;
    position: absolute;
    top: -5px;
    right: 0;
  }
  
  #personal{
    height: 100%;
  }

  .slidingTextContainer{
    position: absolute;
    font-size: 50vh;
    bottom:-90px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
