@import "../../app.scss";
.contact{
  height: 100%;
  width: 999px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 20px;

  @include mobile{
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mobile{
      gap: 0;
      text-align: center;
      align-items: center;
      margin-top: 57px;
    }

    h1{
      font-size: 95px;
      line-height: 80px;

      @include mobile{
        font-size: 30px;
      }
    }

    span{
      font-weight: 300;
    }
  }

  .formContainer{
    flex: 1;
    position: relative;

    @include mobile{
      width: 100%;
      padding: 13px;
    }

    form{
      display: flex;
     flex-direction: column;
     gap: 10px;

    input,textarea{
      padding: 20px;
      color: white;
      background-color:transparent;
      border: 1px solid white;
      border-radius: 5px;

      @include mobile{
        padding: 10px;
      }
    }

    button{
      padding: 10px;
      border: none;
      background-color: orange;
      cursor: pointer;
      font-weight: 500;
      font-size: larger;
      border-radius: 5px;

      @include mobile{
        padding: 5px;
      }
    }
    }
  }
}