.navbar{
  height: 80px;
  .wrapper{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    span{
      font-weight: bold;
      font-size: 50px;
    }

    .social{
      display: flex;
      gap: 30px;
      padding-right: 20px;
      cursor: pointer;

      img{
        widows: 30px;
        height: 30px;
      }
    }
  }
}
